.checkoutContainer{
    max-width: 812px;
    margin: 0 auto;
}
#checkoutForm{
    margin: 4rem 0;
}

#checkoutForm .billingAddress{
    width: 500px;
    padding-right: 100px;
}

#checkoutForm .payment{
    width: 500px;
    margin-top: 72px;
    padding-right: 100px;
}

.checkoutBox{
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
}

.cartContainer{
    background: #f29722;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    align-self: center;
    margin-top: 50px;
}

.cartContainer a{
    color: #212121;
}

.cartContainer p{
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.billingCart hr{
    border-top-color: #212121;
}

.billingAddress h3{
    text-align: center;
    padding-bottom: 10px;
}

.payment h3{
    text-align: center;
    padding-bottom: 10px;
}

.payment .btn{
    display: block;
    margin: 0 auto;
}
