/*Global styles*/
.container{
    margin: 0 auto;
    padding: 0 7.5em;
    max-width: 1680px;
}

a{
    text-decoration: none;
}

h1, h2, h3{
    font-family: 'Londrina Solid', cursive;
    margin: 0;
    font-weight: 400;
}

h1{
    font-size: 5.75rem;
}

h2{
    font-size: 2.65rem;
}

h3{
    font-size: 2rem;
    max-width: 500px;
}

h4{
    font-size: 1.25rem;
}

p{
    font-size: 1.125rem;
}

.dark{
    color: #212121 !important;
}

.white{
    color: #fdfdfd !important;
}

.grey{
    color: #d3d3d3 !important;
}

.mokka{
    color: #d7a56a !important;
}

.olive{
    color: #9c8e61 !important;
}

.sun{
    color: #f29722 !important;
}

/*Homepage*/
#hero{
    background:  #9c8e61;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row-gap: 0;
}

#hero h1{
    line-height: 0;
}

.logo{
    width: 100%;
    height: auto;
    max-width: 1120px;
}

#categories{
    display: grid;
    justify-content: center;
    margin-top: 136px;
}

.grid-category{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2em;
    max-width: 800px;
}

#categories .card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 88px 128px;
    background-size: cover;
    background-position: center;
}

#categories a{
    color: #fdfdfd;
    font-size: 1rem;
    font-weight: 400;
}

.fruit{
    background-image: url('../img/placeholder_500x300.png');
}
.veggies{
    background-image: url('../img/placeholder_500x300.png');
}
.meat{
    background-image: url('../img/placeholder_500x300.png');
}
.dairy{
    background-image: url('../img/placeholder_500x300.png');
}
.eggs{
    background-image: url('../img/placeholder_500x300.png');
}
.honey{
    background-image: url('../img/placeholder_500x300.png');
}

#story{
    margin: 136px 0;
}

#story h2{
    text-align: center;
}

#story p{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 3em;
}

#story .btn{
    max-width: 500px;
    margin: 48px auto;
    display: block
}
