
/*
Global styles - spacing
*/
.container{
    margin: 0 auto;
    padding: 0 7.5em;
    max-width: 1680px;
}

.container-small {
  padding: 0 4rem;
}

a{
    text-decoration: none;
    transition: 0.5 all-ease;
    color: #d7a56a;
}

/*
Global styles - Typography
*/

h1, h2, h3{
    font-family: 'Londrina Solid', cursive;
    margin: 0;
    font-weight: 400;
}

h1{
    font-size: 5.75rem;
}

h2{
    font-size: 5.75rem;
    margin-bottom: 5rem;
    text-align: center;
}

h3{
    font-size: 2rem;
    max-width: 500px;
}

h3.small{
    font-size: 1.02rem;
    letter-spacing: 0.5px;
}

h4{
    font-size: 1.25rem;
}

p{
    font-size: 1.125rem;
    line-height: 1.7;
    font-weight: 500;
    max-width: 800px;
    padding: 0 3rem 3rem;
}

.label{
    font-size: .8rem !important;
}



/*
Global styles - Buttons
*/

.btn {
  padding: 32px 48px;
  line-height: 0;
  text-transform: uppercase;
  letter-spacing: .144em;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
}

.btn_primary {
  background: #f29722;
  color: #212121;
}

.btn_primary:hover {
  background: #9c8e61;
  color: #fdfdfd;
}

.dark{
    color: #212121 !important;
}


/*
Global styles - Colors
*/

.white{
    color: #fdfdfd !important;
}

.grey{
    color: #d3d3d3 !important;
}

.mokka{
    color: #d7a56a !important;
}

.olive{
    color: #9c8e61 !important;
}

.sun{
    color: #f29722 !important;
}


/*Homepage*/
#hero{
  position: relative;
    background:  #9c8e61;
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row-gap: 0;
}


#hero .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#hero .video-container::after {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(156, 142, 97, 0.45);
  background: linear-gradient(180deg, rgba(156,142,97,0.45) 45%, rgba(33,33,33,1) 100%);
}


#hero .video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
}

#hero .pageHeading {
  z-index: 500;
  margin-top: -10vh;
  text-align: center;
}

#hero .logo{
    width: 100%;
    height: auto;
    max-width: 1120px;
}

.gradSectionSolid {
  height: 8rem;
  background: #212121;
}

.gradSectionFade {
  height: 2rem;
  background: rgba(33, 33, 33, 1);
  background: linear-gradient(180deg, rgba(33,33,33,1) 0%, rgba(33,33,33,.9) 100%);
}


/*
Category - Homepage
*/
#categories{
    display: grid;
    justify-content: center;
    margin-top: -20vh;
    position: relative;
    z-index: 1500;
}

.grid-category{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2em;
    max-width: 800px;
}

#categories .card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 88px 128px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

#categories a{
    color: #fdfdfd;
    font-size: 1rem;
    font-weight: 400;
}


.fruit{
    background-image: url('../img/fruit.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.veggies{
    background-image: url('../img/veggies.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.meat{
    background-image: url('../img/meats.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.dairy{
    background-image: url('../img/dairy.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.eggs{
    background-image: url('../img/eggs.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.honey{
    background-image: url('../img/honey.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

#story, #recipes{
    padding: 176px 0;
}

#story h2{
    text-align: center;
}

#story p{
    margin: 0 auto;

}

#story .btn{
    max-width: 500px;
    margin: 48px auto;
    display: block
}


#recipes {
  background-color: : #fdfdfd;
  background-image: url('../img/eggsbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}



#recipes .recipe-filter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  margin-bottom: 176px;
}

#recipes .recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;

}


#recipes .recipe-card {
  background: #fdfdfd;
  border-radius: 1rem;
  box-shadow: 0px 3px 15px rgba(33,33,33,0.2);
  text-align: center;
  max-width: 300px;
  font-size: .8rem;
}

#recipes .recipe-card img {
  object-fit: cover;
  width: 100%;
  height: 144px;
  border-radius: 1rem 1rem 0 0;
}

#recipes .recipe-card-info {
  height: 138px;
  padding: 1rem ;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#recipes .recipe-card h3 {
  width: 100%;
}

#recipes .recipe-card-info-facts {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*store page*/
#store{
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
    z-index: 1500;
}

#store-grid{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 2em;
    justify-content: center;
}

#store img{
    width: 250px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
}

.storeCard{
    text-align: center;
    max-width: 250px;
    display: block;
}

.storeCard .storeCat{
    width: 200px;
    height: 48px;
    background: #f29722;
    border-radius: 20px 20px 0 0;
    margin: 0 auto;
    font-size: .8rem;
    padding-top: 12px;
}

.storeCard .addToBasket{
    width: 200px;
    background: #f29722;
    border-radius: 0 0 20px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
}

.addToBasket h3{
    grid-column-start: span 6;
    padding-top: 15px;
    margin: 0 0 -20px 0;
}

.stk {
    grid-column: 2/4;
    grid-row-start: 2;
    align-self: start;
    justify-self: start;
    color: #212121;
    font-weight: bolder;
}

.kr{
    grid-column: 2/4;
    grid-row-start: 2;
    align-self: center;
    justify-self: start;
    color: #212121;
    font-weight: normal;
}

.addToBasket .quantity{
    grid-column: 4/5;
    padding: 3px;
    margin: 0 0 20px 0;
    border-radius: 10px 0 0 10px;
    text-align: right;
}


.addToBasket .addButton{
    border-radius: 0 10px 10px 0;
    padding: 6px;
    text-align: right;
    margin: 0 0 20px 0;
    border: none;
    color: #fdfdfd;
    background-color: #9c8e61;
    grid-column: 5/6;
}

.addToBasket input[type=number]{
    border: none;
}

/*Aside on store page*/
#store aside{
    width: 250px;
}

aside li a{
    display: block;
    width: 100%;
}

aside li{
    margin-bottom: 5px;
}

#store .btn_primary{
    border-radius: 0 20px 20px 0;
}

/*Footer*/
footer{
    display: grid;
    grid-template-columns: 1fr 2fr;

}

footer .contact{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 2.25rem 7.5rem;
    background: #fdfdfd;
    font-weight: 500;
    letter-spacing: 0.14rem;
}

footer .links{
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(3, auto);
    background: #212121;
    padding: 3rem 7.5rem 2.25rem 0rem;
    color: #fdfdfd;
    font-size: 	0.8125rem;
    letter-spacing: 0.14rem;
    text-transform: uppercase;

}

footer .links a{
  margin-left: 3rem;

}
