/*
Importing styles
*/

@import 'footer.css';
@import 'main.css';
@import 'checkout.css';
@import 'normalize.css';
@import 'responsive.css';
@import 'feather.css';


/*
Global styles - spacing
*/
.container{
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1680px;
}

.container-small {
  padding: 0 1.5rem;
}


.grid {
  display: grid;
}


.flex{
    display: flex;
    justify-content: space-between;
}

.space-bottom {
  padding-bottom: 6.25rem;
}

section {
  padding-bottom: 15vh;
}

/*
Global styles - Typography
*/

h1, h2, h3{
    font-family: 'Londrina Solid', cursive;
    margin: 0;
    font-weight: 400;
}

h1{
    font-size: 5.75rem;
}

h1.big {
  font-size: 12rem;
}

h2{
    font-size: 3.75rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

h3{
    font-size: 2rem;
    max-width: 500px;
}

h3.small{
    font-size: 1.02rem;
    letter-spacing: 0.5px;
}

h4{
    font-size: 1.25rem;
}

p{
    font-size: 1.125rem;
    line-height: 1.7;
    font-weight: 500;
    max-width: 800px;
}

.label{
    font-size: .8rem !important;
}

a{
    text-decoration: none;
    color: #f29722;
    transition: all 0.5s linear;
}



/*
Global styles - Buttons
*/

.btn {
  padding: 32px 48px;
  line-height: 0;
  text-transform: uppercase;
  letter-spacing: .144em;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
}

.btn_primary {
  background: #f29722;
  color: #212121;
}

.btn_primary:hover {
  background: #9c8e61;
  color: #fdfdfd;
}

.dark{
    color: #212121 !important;
}

.downArrow{
    color: #212121;
    display: block;
    text-align: center;
    font-size: 2.8rem;
    margin-top: 30px;
}

/*
Global styles - Colors
*/

.white{
    color: #fdfdfd !important;
}

.grey{
    color: #d3d3d3 !important;
}

.mokka{
    color: #d7a56a !important;
}

.olive{
    color: #9c8e61 !important;
}

.sun{
    color: #f29722 !important;
}


/*
Global styles - spacing
*/


/*
Header
*/

header {
  padding: 1rem 0;
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  z-index: 2000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-shadow: 1px 2px 3px rgba(33,33,33,0.2);
}

nav h4 a {
  color: #fdfdfd;
}

nav .basket {
  width: 24px;
  height: auto;
  object-fit: cover;
  color: #fdfdfd;
  position: relative;
}

.basket img {
  text-shadow: 1px 2px 3px rgba(33,33,33,0.2);
}

.basket-count {
  font-size: 0.8rem;
  background: #f29722;
display: flex;
height: 20px;
width: 20px;
border-radius: 50%;
justify-content: center;
align-items: center;
position: absolute;
top: 0;
right: 0;
margin-top: -5px;
margin-right: -10px;
}

/*Homepage*/
#hero{
  position: relative;
    background:  #9c8e61;
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row-gap: 0;
}


#hero .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#hero .video-container::after {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(156, 142, 97, 0.45);
  background: linear-gradient( rgba(33,33,33,0.5), rgba(33,33,33,0.5));
  /*background: linear-gradient(180deg, rgba(156,142,97,0.45) 45%, rgba(33,33,33,1) 100%);*/
}


#hero .video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
}

#hero .pageHeading {
  z-index: 500;
  margin-top: -10vh;
  text-align: center;
  color: #fdfdfd;
}

#hero .logo{
    width: 40vw;
    height: auto;
    max-width: 1120px;
}

#hero h3 {
  padding: 0 2rem;
}

.gradSectionSolid {
  display: none;
}

.gradSectionFade {
  display: none;
}


/*
Category - Homepage
*/
#categories{
    display: grid;
    justify-content: center;
    margin-top: -20vh;
    position: relative;
    z-index: 1500;
}

.grid-category{
    display: grid;
    grid-gap: 1rem;
}

#categories .card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 88px 128px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position: relative;
}

.cat-overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.6);
  display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
}

#categories a{
    color: #fdfdfd;
    font-size: 2rem;
    font-weight: 400;
}


.fruit{
    background-image: url('../images/fruit.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.veggies{
    background-image: url('../images/veggies.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.meat{
    background-image: url('../images/meats.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.dairy{
    background-image: url('../images/dairy.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.eggs{
    background-image: url('../images/eggs.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.honey{
    background-image: url('../images/honey.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

#story, #recipes{
    padding: 4rem 2rem;
}

#story .drawing{
    display: block;
    margin: 72px auto;
    width: 80%;
}

#story h2{
    text-align: center;
}

#story p{
    margin: 0 auto;

}

#story .btn{
    max-width: 500px;
    margin: 48px auto;
    display: block
}

.readMore .label{
    display: block;
    text-align: center;
    text-transform: uppercase;
}

#more {display: none;}


#recipes {
  background-color: #fdfdfd;
  background-image: url('../images/eggsbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}


#recipes .recipe-filter {
  display: none;
}

#recipes .recipe-grid {
  display: grid;
  grid-gap: 1rem;
}


#recipes .recipe-card {
  background: #fdfdfd;
  border-radius: 1rem;
  box-shadow: 0px 3px 15px rgba(33,33,33,0.2);
  text-align: center;
  max-width: 300px;
  font-size: .8rem;
}

#recipes .recipe-card img {
  object-fit: cover;
  width: 100%;
  height: 144px;
  border-radius: 1rem 1rem 0 0;
}

#recipes .recipe-card-info {
  height: 138px;
  padding: 1rem ;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#recipes .recipe-card h3 {
  width: 100%;
}

#recipes .recipe-card-info-facts {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*store page*/
#store{

    position: relative;
    z-index: 1500;
}

.storeHero{

    background: url('../images/vegetables.jpg') no-repeat !important;
    background-size: cover !important;
}

#store-grid{
    display: grid;
    grid-template-columns:250px;
    grid-gap: 2em;
    justify-content: space-evenly;
    margin-top: -120px;
}

#store img{
    width: 250px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
}

.storeCard{
    text-align: center;
    max-width: 250px;
    display: block;
}

.storeCard .storeCat{
    width: 200px;
    height: 48px;
    background: #f29722;
    border-radius: 20px 20px 0 0;
    margin: 0 auto;
    font-size: .8rem;
    padding-top: 12px;
}

.storeCard .addToBasket{
    width: 200px;
    background: #f29722;
    border-radius: 0 0 20px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
}

.addToBasket h3{
    grid-column-start: span 6;
    padding-top: 15px;
    margin: 0 0 -20px 0;
}

.stk {
    grid-column: 2/4;
    grid-row-start: 2;
    align-self: start;
    justify-self: start;
    color: #212121;
    font-weight: 700;
}

.kr {
    grid-column: 2/4;
    grid-row-start: 2;
    align-self: center;
    justify-self: start;
    color: #212121;
    font-weight: normal;
}

.addToBasket .quantity{
    grid-column: 4/5;
    padding: 3px;
    margin: 0 0 20px 0;
    border-radius: 10px 0 0 10px;
    text-align: right;
}


.addToBasket .addButton{
    border-radius: 0 10px 10px 0;
    padding: 6px;
    text-align: right;
    margin: 0 0 20px 0;
    border: none;
    color: #fdfdfd;
    background-color: #9c8e61;
    grid-column: 5/6;
}

.addToBasket input[type=number]{
    border: none;
}

/*Aside on store page*/
#store aside{
  display: none;
}

aside li a{
    display: block;
    width: 100%;
}

aside li{
    margin-bottom: 5px;
}

#store .btn_primary{
  padding: 24px 48px;
  border-radius: 0 16px 16px 0;
}



/*
call to action
*/

section#cta {
  background-position: center bottom;
  background-size: cover;
  padding: 25vh 0;
}

.cta1 {
  background: url('../images/field.jpg') no-repeat;
}

#cta .container {
  display: grid;
  grid-template-columns: 1fr;
}

#cta .text {
  text-align: left;
  padding-bottom: 10vh;
  color: #fdfdfd;
}

#cta h2 {
  text-align: left;
  line-height: 1;
}

.signUpBox {
background: #fdfdfd;
border-radius: 20px;
padding: 2rem;
max-width: 360px;
min-width: 250px;
}

.signUpBox h3 {
  margin-bottom: 5vh;
}

.signUpBox input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #9c8e61;
  padding-bottom: 5px;
  margin-bottom: 2.5vh;
}

.signUpBox .btn_cta {
  color: #f29722;
  background: none;
  border: none;
  margin-top: 5vh;
}


/*
Basket page
*/



.basketGrid {
  display: grid;
  grid-template-columns: 1fr minmax(70px, 100px) minmax(70px, 100px) 1fr;
  grid-template-rows: 50px;
  background: #fdfdfd;
  border-radius: 20px;
  padding: 10.75vh 3rem;
  margin-left: 5vw;
  margin-right: 5vw;
}

.basketGrid .basketItem {
border-bottom: 1px solid #ededed;
}

.basketItemForm .quantity {
    width: 72px;
    padding: 3px;
    margin: 0 12px 20px 0;
    border: 1px solid #d7a56a;
    border-radius: 10px 0 0 10px;
    text-align: right;
    margin-right: 12px;
}

.basketGrid button, .basketGrid select {
  background-color: none;
  border: none;
}

.basketGrid i::selection, .basketGrid button {
  background: none;
}

.basketGrid i {
  font-size: 1.2rem;
}

.basketGrid .basketRemove i {
  font-size: 0.8rem;
  margin-left: 24px;
}

.basketGrid .basketButtons {
  margin-top: 5vh;
  grid-column-start: 1;
  grid-column-end: 5;
  justify-content: flex-start;
}
