/*Footer*/


footer .contact{
    text-align: center;
    padding: 2.5rem 0;
    background: #fdfdfd;
    font-weight: 500;
    letter-spacing: 0.14rem;
}

footer .links{
    display: grid;
    background: #212121;
    padding: 2.5rem 0;
    color: #fdfdfd;
    font-size: 	0.8125rem;
    letter-spacing: 0.14rem;
    text-transform: uppercase;

}

footer .links a {
    margin-bottom: 1rem;
    text-align: center;
}
